#mind-me {
    border: 1px solid black;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-right: 19px; 
    font-size: small;
   
}


