.main-one {
    display: flex;
    align-items: center;
    width: 95%;
    margin-top: 1rem;
}

.main-one img {
    width: 90px; 
    margin-left: 1.8rem;
    width: 100px; 
}

.main-one button,
.main-one input,
.main-one select {
    margin-right: 1%; 
}

.main-one input {
    flex-grow: 1; 
    height: 40px;
    width: 190px; 
    border: 2px solid black;
    margin-left: -15px;
    padding-left: 55px;
}

.main-one select {
    height: 42px;
    width: 200px;
    margin-left: -213px;
    padding-left: 10px;
    
}
.main-one button{
    font-size: 12px;
}

.main-one #btn2 {
    margin-right: 10px; 
    background-color: #3665f3;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 0px;
    gap: 10px;
    margin-left:-10px;
    height: 45px;
    font-size: 15px;
}

.main-one #adv {
   font-size: 10px;
}

.search-icon {
    transform: translateX(260%);
    
}