

.main-one {
    display: flex;
    align-items: center;
    width: 95%;
    
}

.main-one img {
    width: 90px; 
    margin-right: 5%; 
}

.main-one button,
.main-one input,
.main-one select {
    margin-right: 1%; 
}

.main-one input {
    flex-grow: 1; 
    height: 40px;
    width: 200px; 
    border: 2px solid black;
    padding-right: 490px;
    margin-left: -15px;
    padding-left: 100px;
}

.main-one select {
    height: 42px;
    width: 200px;
    margin-left: -199px;
    padding-left: 10px;
    
}
.main-one button{
    font-size: 12px;
}

.main-one #btn2 {
    margin-right: 10px; 
    background-color: #3665f3;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 0px;
    gap: 10px;
    margin-left:-10px;
}

.main-one #adv {
   
    font-size: 10px;
}

.search-icon {
    transform: translateX(200px);
    font-size: 80px;
}